
<div class="modal-header">
  <h3>Launch Instance</h3>
</div>
<div class="modal-body">
  <div data-tabset class="wizard">
    <div data-tab>
      <div data-tab-heading>
        Step 1 - Instance & Image
      </div>

      <div>
        <form class="form-horizontal" name="SelectSourceForm" ng-controller="SelectSourceCtrl">
          <fieldset class="row-fluid">

            <div class="control-group">
              <div class="row">
                <div class="span4">
                  <label for="id_name">Instance Name</label>
                  <input id="id_name" class="span4" maxlength="80" name="name" ng-model="name" required type="text">
                </div>
                <div class="span2">
                  <label for="id_count">Instance Count</label>
                  <input id="id_count" class="span2" name="count" ng-model="count" type="text" value="1">
                </div>

                <div class="span4">
                  <label for="id_availability_zone">Availability Zone</label>
                  <select id="id_availability_zone" class="span4" name="availability_zone">
                    <option value="az1">az1</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="control-group">
              <div class="btn-group">
                <a href="#" class="btn btn-default" data-ng-model="type" data-btn-radio="'ephemeral'">Ephemeral Root Disk</a>
                <a href="#" class="btn btn-default" data-ng-model="type" data-btn-radio="'persistent'">Persistent Root Disk</a>
              </div>
            </div>

            <div class="control-group">
              <div data-tabset>
                <div data-tab ng-repeat="elt in elts">
                  <div data-tab-heading>
                    {$ elt.title $} <span class="badge">{$ elt.total $}</span>
                  </div>
                  <table class="table table-bordered">
                    <tbody ng-repeat="source_type in elt">
                    <tr ng-repeat="value in source_type.values">
                      <td ng-if="$first" rowspan="{$ source_type.total $}" class="span2">
                        <h5>{$ source_type.title $}</h5>
                        <h6>{$ source_type.legend $}</h6>
                      </td>
                      <td>{$ value | name $}</td>
                      <td class="span2"><a href="#" class="btn btn-primary">Select       »</a></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>

    <div data-tab>
      <div data-tab-heading>
        Step 2 - Flavor
      </div>
    </div>
    <div data-tab>
      <div data-tab-heading>
        Step 3 - Access & Security
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">OK</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>