{% load i18n %}
<div step data-active="steps.bootVolume.active" data-disabled="steps.bootVolume.disabled" data-select="steps.bootVolume.select()">
  <div data-step-heading ng-class="{done: !steps.bootVolume.active && steps.bootVolume.valid}" class="heading" >
    {% trans "Step 2" %} - {% trans "Boot Volume" %}
  </div>

  <div ng-form="steps.bootVolume.form" class="row-fluid" ng-controller="BootVolumeCtrl" ng-if="steps.bootVolume.active">
    <fieldset class="span8">

      <div class="control-group">
        <div class="row">
          <div class="span5" ng-class="{'error': steps.bootVolume.form.name.$invalid && !steps.bootVolume.form.name.$pristine}">
            <label for="device_name" ng-if="steps.bootVolume.form.name.$valid || steps.bootVolume.form.name.$pristine">{% trans "Volume Mount Point" %} <a href="#" tooltip="{% trans "Volume mount point (e.g. 'vda' mounts at '/dev/vda')." %}"></a></label>
            <label for="device_name" ng-if="steps.bootVolume.form.name.$invalid && !steps.bootVolume.form.name.$pristine">{% trans "Volume Mount Point required" %}</label>
            <input id="device_name" class="span5" type="text" name="name" ng-model="launchInstance.device_name" maxlength="80" ng-required="!steps.bootVolume.disabled">
          </div>
          <div class="span3" ng-class="{'error': steps.bootVolume.form.volume_size.$invalid && !steps.bootVolume.form.volume_size.$pristine}">
            <label for="volume_size" ng-if="steps.bootVolume.form.volume_size.$valid || steps.bootVolume.form.volume_size.$pristine">{% trans "Device Size (GB)" %} <a href="#" tooltip="{% trans "Volume size in gigabytes (integer value)." %}">?</a></label>
            <label for="volume_size" ng-if="steps.bootVolume.form.volume_size.$error.required">{% trans "Device Size required" %}</label>
            <label for="volume_size" ng-if="steps.bootVolume.form.volume_size.$error.min">{% trans "Device Size minimum is 1" %}</label>
            <input id="volume_size" class="span3" type="number" name="volume_size" ng-model="launchInstance.volume_size" ng-required="!steps.bootVolume.disabled" min="1" ng-disabled="launchInstance.source_type === 'volumes' || launchInstance.source_type === 'volumes_snapshot' ">
          </div>
        </div>
        <div class="row-fluid form-inline">
          <hr class="span12">
          <label for="delete" class="checkbox"><input id="delete" type="checkbox" name="delete" >{% trans "Delete on Terminate" %}</label>
        </div>
      </div>
      <div class="control-group">
        <div class="alert alert-warning"><strong>{% trans "Warning!" %}</strong>{% trans "By checking this option, the operating system root disk will be deleted on instance termination." %}</div>
      </div>
      <a class="btn btn-primary pull-right" data-ng-disabled="!steps.bootVolume.form.$valid" ng-click="wizard.next()">{% trans "Choose Flavor" %} »</a>

    </fieldset>
    <div class="span4">
      <h3>{% trans "Step 2" %} - {% trans "Boot Volume" %}</h3>
      {% blocktrans %}Boot volume help{% endblocktrans %}
    </div>
  </div>
</div>
