{% load i18n %}

<div step data-active="steps.access.active" data-select="steps.access.select()" data-deselect="steps.access.validate()">
  <div data-step-heading ng-class="{done: !steps.access.active && steps.access.valid}" class="heading">
    {% trans "Step 3 " %} - {% trans "Access & Security" %}
  </div>

  <div class="form-horizontal row-fluid" ng-form="steps.access.form" ng-controller="AccessAndSecurityCtrl" ng-if="steps.access.active">
    <fieldset class="span9">
      <h3>Instance Access</h3>
      <div class="control-group">
        <label for="key_pair_id">{% trans "Keypair" %} <a href="#" tooltip="{%  trans "Which key pair to use for authentication." %}" data-tooltip-placement="right">?</a></label>
        <select id="key_pair_id" class="span3" name="key_pair_id" data-ng-model="launchInstance.key_pair_id" ng-options="key_pair.id as key_pair.name for key_pair in key_pairs" ></select>
        <a href="#" class="btn btn-default" ng-click="createKeypair()">{% trans "Create Key Pair" %}</a>
        <a href="#" class="btn btn-default" ng-click="importKeypair()">{% trans "Import Key Pair" %}</a>
      </div>

      <div class="control-group">
       <div class="row">
         <div class="span2">
          <label for="admin_pass">{% trans "Admin Password:" %}</label>
          <input id="admin_pass" class="span2" type="password" name="admin_pass" ng-model="launchInstance.admin_pass" >
        </div>
        <div class="span2">
         <div ng-class="{'error': steps.access.form.confirm_admin_pass.$invalid}">
           <label for="confirm_admin_pass" ng-if="steps.access.form.confirm_admin_pass.$valid ">{% trans "Confirm Password:" %}</label>
           <label for="confirm_admin_pass" ng-if="steps.access.form.confirm_admin_pass.$error.identity">{% trans "Admin Pass does not correspond:" %}</label>
           <input id="confirm_admin_pass" class="span2" type="password" ng-model="launchInstance.confirm_admin_pass" data-identity="launchInstance.admin_pass" name="confirm_admin_pass">
         </div>
       </div>
       <div class="span4">
         <label>&nbsp;</label>
         <div>Do not set a password to log in only via key pair.</div>
       </div>
     </div>
   </div>
   <hr/>
   <h3>Networking</h3>
   <div class="row">
    <div class="span4" ng-class="{'error': isOnError(steps.access.form.networks, steps.access.form)}">
     <label for="networks" ng-if="!isOnError(steps.access.form.networks, steps.access.form)">{% trans "Networks" %} </label>
     <label for="networks" ng-if="isOnError(steps.access.form.networks, steps.access.form)">{% trans "Networks required"  %}</label>
     <div data-selection data-elts="networks_list" data-id="networks" ng-model="launchInstance.networks" data-name="networks" class="control-group" data-not-blank>
      <div data-selection-element><a class="btn btn-primary pull-right"></a><div>{$ elt.name $} <em class="network_id">({$ elt.id $})</em></div></div>
      <div data-selection-help><div class="help-selection">Please add a network from the list below.</div></div>
    </div>
  </div>
  <div class="span4" ng-class="{'error': isOnError(steps.access.form.sec_groups, steps.access.form)}">
   <label for="sec_groups" ng-if="!isOnError(steps.access.form.sec_groups, steps.access.form)">{% trans "Security Groups" %} <a href="#" tooltip="{% trans "Launch instance in these security groups." %}">?</a></label>
   <label for="sec_groups" ng-if="isOnError(steps.access.form.sec_groups, steps.access.form)">{% trans "Security Groups required" %}</label>
   <div data-selection data-elts="sec_groups_list" data-id="sec_groups" ng-model="launchInstance.sec_groups" data-name="sec_groups" class="control-group" data-not-blank>
    <div data-selection-element><a class="btn btn-primary pull-right"></a>{$ elt $}</div>
    <div data-selection-help><div class="help-selection" >Please add a security group from the list below.</div></div>
  </div>
</div>
</div>
</fieldset>
<div class="span3">
  <h3>{% trans "Step 3 " %} - {% trans "Access & Security" %}</h3>
  {% blocktrans %}Access & Security help{% endblocktrans %}
</div>
</div>
</div>
