{% load i18n %}
<div step data-active="tabs.access.active" select="tabs.flavor.validate()" deselect="tabs.access.validate()">
  <div step-heading ng-class="{done: !tabs.access.active && tabs.access.valid}" class="heading">
    {% trans "Step" %} {$ 3 + !tabs.bootVolume.disabled $} - {% trans "Access & Security" %}
  </div>

  <div class="form-horizontal row-fluid" ng-form="forms.AccessAndSecurityForm" class="row-fluid" ng-controller="AccessAndSecurityCtrl" ng-if="tabs.access.active">
    <fieldset class="span9">
      <h3>Instance Access</h3>
      <div class="control-group">
        <label for="key_pair_id">{% trans "Keypair" %}</label>
        <select id="key_pair_id" class="span3" name="key_pair_id" ng-model="launchInstance.key_pair_id" ng-options="key_pair.id as key_pair.name for key_pair in key_pairs" ></select>
        <a href="#" class="btn btn-default" ng-click="createKeypair()">{% trans "Create Key Pair" %}</a>
        <a href="#" class="btn btn-default" ng-click="importKeypair()">{% trans "Import Key Pair" %}</a>
      </div>

      <div class="control-group">
       <div class="row"> 
         <div class="span2">
          <label for="admin_pass">{% trans "Admin Password:" %}</label>
          <input id="admin_pass" class="span2" type="password" name="admin_pass" ng-model="launchInstance.admin_pass" >
        </div>
        <div class="span2">
         <div ng-class="{'error': forms.AccessAndSecurityForm.confirm_admin_pass.$invalid}">	
           <label for="confirm_admin_pass" ng-if="forms.AccessAndSecurityForm.confirm_admin_pass.$valid ">{% trans "Confirm Password:" %}</label>
           <label for="confirm_admin_pass" ng-if="forms.AccessAndSecurityForm.confirm_admin_pass.$error.identity">{% trans "Admin Pass does not correspond:" %}</label>
           <input id="confirm_admin_pass" class="span2" type="password" ng-model="launchInstance.confirm_admin_pass" data-identity="launchInstance.admin_pass" name="confirm_admin_pass">
         </div>
       </div>
       <div class="span4">
         <label>&nbsp;</label>
         <div>Do not set a password to log in only via key pair.</div>
       </div>
     </div>
   </div>
   <hr/>
   <h3>Networking</h3>
   <div class="row">
    <div class="span4" ng-class="{'error': isOnError(forms.AccessAndSecurityForm.networks, forms.AccessAndSecurityForm)}">
     <label for="networks" ng-if="!isOnError(forms.AccessAndSecurityForm.networks, forms.AccessAndSecurityForm)">{% trans "Networks" %}</label>
     <label for="networks" ng-if="isOnError(forms.AccessAndSecurityForm.networks, forms.AccessAndSecurityForm)">{% trans "Networks required"  %}</label>
     <div data-selection data-elts="networks_list" data-id="networks" ng-model="launchInstance.networks" data-name="networks" class="control-group" data-not-blank>
      <div data-selection-element><a class="btn btn-primary"></a>{$ elt.name $} <em class="network_id pull-right">({$ elt.id $})</em></div>
      <div data-selection-help><div class="alert alert-info">Please add a network from the list below.</div></div>
    </div>
  </div>
  <div class="span4" ng-class="{'error': isOnError(forms.AccessAndSecurityForm.sec_groups, forms.AccessAndSecurityForm)}">
   <label for="sec_groups" ng-if="!isOnError(forms.AccessAndSecurityForm.sec_groups, forms.AccessAndSecurityForm)">{% trans "Security Groups" %}</label>
   <label for="sec_groups" ng-if="isOnError(forms.AccessAndSecurityForm.sec_groups, forms.AccessAndSecurityForm)">{% trans "Security Groups required" %}</label>
   <div data-selection data-elts="sec_groups_list" data-id="sec_groups" ng-model="launchInstance.sec_groups" data-name="sec_groups" class="control-group" data-not-blank>
    <div data-selection-element><a class="btn btn-primary"></a>{$ elt $}</div>
    <div data-selection-help><div class="alert alert-info" >Please add a security group from the list below.</div></div>
  </div>
</div>
</div>

<div>
	<h3>Advanced Options</h3>
	<label for="customization_script">{% trans "Post-creation Script:" %}</label>
	<textarea id="customization_script" rows="3" ng-model="launchInstance.customization_script" name="customization_script" class="span6" placeholder=" "></textarea>
	
	<label for="disk_partition">{% trans "Disk Partition:" %}</label>
	<select id="disk_partition" ng-model="launchInstance.disk_partition" name="disk_partition" class="span6">
    <option value="AUTO" selected>{% trans "Automatic" %}</option>
    <option value="MANUAL">{% trans "Manual" %}</option>
  </select>
</div>
</fieldset>
<div class="span3">
  <h3>{% trans "Step" %} {$ 3 + !tabs.bootVolume.disabled $} - {% trans "Access & Security" %}</h3>
  {% blocktrans %}Access & Security help{% endblocktrans %}
</div>
</div>
</div>
