{% load i18n %}
<div step active="steps.selectSource.active">
  <div step-heading ng-class="{done: !steps.selectSource.active && steps.selectSource.valid}" class="heading">
    {% trans "Step 1 " %} - {% trans "Instance & Image" %}
  </div>
  <div ng-if="steps.selectSource.active" class="row">

    <div ng-form="steps.selectSource.form" ng-controller="SelectSourceCtrl" class="col-md-8">
      <div ng-form="SubSelectSourceForm" class="row">
        <div class="form-group col-md-5" ng-class="{'has-error': isOnError(SubSelectSourceForm.name)}">
          <label for="name" class="control-label">
            <span ng-if="!isOnError(SubSelectSourceForm.name)">{% trans "Instance Name" %}</span>
            <span ng-if="isOnError(SubSelectSourceForm.name)">{% trans "Instance Name is required" %}</span>
          </label>
          <input id="name" class="form-control" type="text" name="name" ng-model="launchInstance.name" required maxlength="80" >
        </div>

        <div class="form-group col-md-3" ng-class="{'has-error': isOnError(SubSelectSourceForm.count)}">
          <label for="count" class="control-label">
            <span ng-if="!isOnError(SubSelectSourceForm.count)">{% trans "Instance Count" %}</span>
            <span ng-if="SubSelectSourceForm.count.$error.min">{% trans "Count minimum is 1" %}</span>
            <span ng-if="SubSelectSourceForm.count.$error.max">{% trans "Count maximum is" %} {$ max_count $}</span>
            <span ng-if="SubSelectSourceForm.count.$error.required">{% trans "Count required" %}</span>

            <span class="badge" tooltip="{% trans "Number of instances to launch." %}">?</span>
          </label>

          <input id="count" class="form-control" type="number" name="count" ng-model="launchInstance.count" required min="1" max="{$ max_count $}" >
        </div>

        <div class="form-group col-md-4">
          <label for="availability_zone">{% trans "Availability Zone" %}</label>
          <select id="availability_zone" class="form-control" name="availability_zone" ng-model="launchInstance.availability_zone" required ng-options="zone for zone in zones"></select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-4">
          <label for="disk-type">{% trans "Operating System Disk Type" %}</label>
          <div class="btn-group form-control-static" id="disk-type">
            <a href="#" class="btn btn-default" data-ng-model="launchInstance.type" data-btn-radio="'ephemeral'">{% trans "Ephemeral Root Disk" %}</a>
            <a href="#" class="btn btn-default" data-ng-model="launchInstance.type" data-btn-radio="'persistent'">{% trans "Persistent Root Disk" %}</a>
          </div>
        </div>
      </div>

      <div ng-form="BootVolumeForm" ng-if="showBootVolume">
        <div class="row">
          <div class="form-group col-md-5" ng-class="{'has-error': BootVolumeForm.name.$invalid && !BootVolumeForm.name.$pristine}">
            <label class="control-label" for="device_name">
              <span ng-if="BootVolumeForm.name.$valid || BootVolumeForm.name.$pristine">{% trans "Volume Mount Point" %}</span>
              <span ng-if="BootVolumeForm.name.$invalid && !BootVolumeForm.name.$pristine">{% trans "Volume Mount Point required" %}</span>
              <span class="badge" tooltip="{% trans "Volume mount point (e.g. 'vda' mounts at '/dev/vda')." %}">?</span>
            </label>
            <input id="device_name" class="form-control" type="text" name="name" ng-model="launchInstance.device_name" maxlength="80" ng-required="showBootVolume">
          </div>

          <div class="form-group col-md-3" ng-class="{'has-error': BootVolumeForm.volume_size.$invalid && !BootVolumeForm.volume_size.$pristine}">
            <label for="volume_size" class="control-label">
              <span ng-if="BootVolumeForm.volume_size.$valid || BootVolumeForm.volume_size.$pristine">{% trans "Device Size (GB)" %}</span>
              <span ng-if="BootVolumeForm.volume_size.$error.required">{% trans "Device Size required" %}</span>
              <span ng-if="BootVolumeForm.volume_size.$error.min">{% trans "Device Size minimum is 1" %}</span>

              <span class="badge" tooltip="{% trans "Volume size in gigabytes (integer value)." %}">?</span></label>
            </label>
            <input id="volume_size" class="form-control" type="number" name="volume_size" ng-model="launchInstance.volume_size" ng-required="showBootVolume" min="1" ng-disabled="launchInstance.source_type === 'volumes' || launchInstance.source_type === 'volumes_snapshot' ">
          </div>
        </div>

        <div class="row">
          <div class="checkbox col-md-2">
            <label for="delete">
              <input id="delete" type="checkbox" name="delete" >
              {% trans "Delete on Terminate" %}
            </label>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8">
            <div class="alert alert-warning"><strong>{% trans "Warning!" %}</strong> {% trans "By checking this option, the operating system root disk will be deleted on instance termination." %}
            </div>
          </div>
        </div>
      </div>
      <div ng-form="SelectImageForm" ng-class="{'has-error':isOnError(SelectImageForm.source)}">
        <div class="form-group col-md-4">
          <label for="image_options">{% trans "Instance Boot Source" %}</label>
          <select id="image_options" class="form-control" name="image_options" ng-model="launchInstance.source.type" required>
            <option value="images">{% trans "Images" %}</option>
            <option value="instances_snapshots" ng-if="!showBootVolume">{% trans "Snapshots" %}</option>
            <option value="volumes" ng-if="!showBootVolume">{% trans "Volumes" %}</option>
            <option value="volumes_snapshots" ng-if="showBootVolume">{% trans "Volumes Snapshots" %}</option>
          </select>
          <label for="source" class="control-label">
          <span ng-if="!isOnError(SelectImageForm.source)">{% trans "Select Image" %}</span>
          <span ng-if="isOnError(SelectImageForm.source)">{% trans "Image is required" %}</span>
          </label>
          <select id="source" class="form-control" name="source" ng-model="image_obj" required ng-options="elt.name for elt in elts"></select>
       </div>
     </div>
    </div>
    <div class="col-md-4">

      <h3>{% trans "Step 1" %} - {% trans "Instance Details" %}</h3>
      {% blocktrans %} Select source help{% endblocktrans %}
    </div>
  </div>
</div>




