{% load i18n %}
<div class="modal-header">
  <a class="close" ng-click="cancel()">×</a>
  <h3>{% trans "Launch Instance"%}</h3>
</div>
<form class="modal-body" name="LaunchInstanceForm">
<div wizard name="w">

{% include 'workflow/_launch_select_source.html' %}
{% include 'workflow/_launch_flavor.html' %}
{% include 'workflow/_launch_access_and_security.html' %}
{% include 'workflow/_launch_advanced_options.html' %}
</div>
</form>

<div class="modal-footer">
  <a class="btn btn-warning" ng-click="cancel()">{% trans "Cancel" %}</a>
  <a class="btn btn-info span2" ng-click="launch()" data-ng-disabled="!steps.access.validate()">{% trans "Launch" %}</a>
  <a class="btn btn-primary" ng-click="wizard.next()" ng-hide="currentStep === steps.advanced">{% trans "Next" %} &gt;&gt;</a>
  <a class="btn btn-primary" ng-click="wizard.previous()" ng-hide="currentStep === steps.selectSource">&lt;&lt; {% trans "Previous" %}</a>
</div>
