{% load branding i18n %}
{% load url from future %}
<div class='navbar navbar-fixed-top topbar'>
  <ul class="nav">
    <li class="dropdown">
      {% with num_of_tenants=authorized_tenants|length %}
        <a class="dropdown-toggle">
          {{ request.user.project_name }}
        </a>
        {% if num_of_tenants > 1 %}
          <ul class="dropdown-menu">
            {% with authorized_tenants_sorted=authorized_tenants|dictsort:"name" %}
              {% for tenant in authorized_tenants_sorted %}
                {% if tenant.enabled and tenant.id != request.user.tenant_id %}
                  <li><a href="{% url 'switch_tenants' tenant.id %}?next={{ request.horizon.dashboard.get_absolute_url }}">{{ tenant.name }}</a></li>
                {% endif %}
              {% endfor %}
            {% endwith %}
          </ul>
        {% endif %}
      {% endwith %}
    </li>
    {% with num_of_regions=request.user.available_services_regions|length %}
      {% if num_of_regions > 1 %}
        <li class="dropdown">
          <a class="dropdown-toggle">
            {{ request.user.services_region }}
          </a>
          <ul class="dropdown-menu">
            {% for region in request.user.available_services_regions %}
              <li><a href="{% url 'switch_services_region' region %}?next={{ request.horizon.panel.get_absolute_url }}">{{ region }}</a></li>
            {% endfor %}
          </ul>

        </li>
      {% endif %}
    {% endwith %}
  </ul>

  <ul class="nav pull-right">
    <li class="dropdown">
      <a class="dropdown-toggle">{% trans "Me" %}</a>

      <ul id="editor_list" class="dropdown-menu">
        <li><a href="{% url 'horizon:settings:user:index' %}">{% trans "Settings" %}</a></li>
        {% if HORIZON_CONFIG.help_url %}
          <li><a href="{{ HORIZON_CONFIG.help_url }}" target="_new">{% trans "Help" %}</a></li>
        {% endif %}
      </ul>
    </li>
    <li>
      <a href="{% url 'logout' %}">{% trans "Sign Out" %}</a>
    </li>
    {% include "horizon/common/_region_selector.html" %}
  </ul>
</div>