{% extends "project/metering/stats.html" %}
{% load i18n %}
{% load url from future %}

{% block group_by %}
<div class="control-group">
      <label for="group_by" class="control-label">{% trans "Group by" %}:&nbsp;</label>
      <div class="controls">
        <select data-line-chart-command="select_box_change"
                id="group_by" name="group_by" class="span2">
          <option value="" selected="selected">{% trans "--" %}</option>
          <option selected="selected" value="project" selected>{% trans "Project" %}</option>
        </select>
      </div>
    </div>
{% endblock %}